.vscode/**
.vscode-test/**
.github/**
.claude/**
.vinv/**
src/**
out/test/**
node_modules/**
esbuild.mjs
scripts/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vinv-activated
**/.vinv-activated
.vinv-welcomed
**/.vinv-welcomed
.vinv-oss-announced
**/.vinv-oss-announced
*.vsix
**/*.vsix
*.zip
**/*.zip
